
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
        margin: 0;
        padding: 0;
}


body {
        background-color: #00FFE5; 
        font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;     
}


nav {
        background-color: #6C6C6C;
        width: 100%;
        height: 94px;
        font-weight: 700;
        font-size: 24px;
        display: flex;
}


.ota {
        display: flex;
        gap: 40px;
        margin-top: 33px;
        margin-left: 53px;
}


.Sarlavha {
        text-align: center;
        margin-top: 51px;
}


.ota2 {
        display: flex;
        flex-wrap: wrap;
}


.bola {
        background-color: #004C97;
        margin-left: 125px;
        margin-top: 83px;
        width: 220px;
        height: 200px;
        border-radius: 20px;
        gap: 58;
        text-align: center;
        line-height: 200px;
        font-size: 23px;
        font-weight: 700px;
        color: white;
}


.ota h1:hover {
        color: red;
}


.Sarlavha:hover {
        color: #2600FF;
}


.bola:hover {
        background-color: #EA00FF;
        color: black;
}